
body {
  background-color:#F0EDC5;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-size: 14px;
}

.inicio {
  width: 67px;
  color: rgba(121,134,38,1);
  position: absolute;
  top: 16px;
  left: 997px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.sobrenosotros {
  width: 175px;
  color: rgba(121,134,38,1);
  position: absolute;
  top: 17px;
  left: 1096px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: left;
  text-decoration: none;
}
.contacto {
  width: 110px;
  color: rgba(121,134,38,1);
  position: absolute;
  top: 17px;
  left: 1303px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.imagen1 {
  width: 263px;
  height: 120px;
  background: url("../images/v38_90.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: center;
  top: 10px;
  left: 16px;
  overflow: hidden;
}
.fondoverdeclaro {
  width: 1520px;
  height: 1600px;
  background: rgba(167,173,59,1);
  opacity: 1;
  position: absolute;
  top: 603px;
  left: 0px;
  overflow: hidden;
}
.imagen2 {
  width: 860px;
  height: 500px;
  background: url("../images/v38_92.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  justify-content: center;
  top: 1430px;
  left: 301px;
  overflow: hidden;
}

.imagen3 {
  width: 431px;
  height: 76px;
  background: url("../images/v38_96.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  justify-content: center;
  top: 1290px;
  left: 501px;
  overflow: hidden;
}
.fondoboton1 {
  width: 431px;
  height: 62px;
  background: rgba(121, 134, 38, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  justify-content: center;
  transition: background-color 0.5s ease; /* Agregar transición para la animación de fondo */
}

.boton1 {
  width: 409px;
  color: rgba(240, 237, 197, 1);
  position: absolute;
  top: 18px;
  left: 13px;
  font-family: 'Inter', sans-serif;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  justify-content: center;
}

.fondoboton1:hover {
  background: rgba(240, 237, 197, 1); /* Cambia el color de fondo cuando se haga hover */
}

.fondoboton1 a {
  text-decoration: none;
  color: rgba(240, 237, 197, 1);
  display: block;
  height: 100%;
  width: 100%;
}

.fondoboton1:hover .boton1 {
  color:  rgba(121,134,38,1); }




.imagen4 {
  width: 431px;
  height: 76px;
  background: url("../images/v38_99.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  justify-content: center;
  top: 2063px;
  left: 501px;
  overflow: hidden;
}


.fondoboton2 {
  width: 431px;
  height: 62px;
  background: rgba(121, 134, 38, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  justify-content: center;
  transition: background-color 0.5s ease; /* Agregar transición para la animación de fondo */
}
.boton2 {
  width: 409px;
  color: rgba(240, 237, 197, 1);
  position: absolute;
  top: 18px;
  left: 13px;
  font-family: 'Inter', sans-serif;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  justify-content: center;
  
}

.fondoboton2 a {
  text-decoration: none;
  color: rgba(240, 237, 197, 1);
  display: block;
  height: 100%;
  width: 100%;
}

.fondoboton2:hover {
  background: rgba(240, 237, 197, 1); 
}

.fondoboton2:hover .boton2 {
  color:  rgba(121,134,38,1); }





.imagen5 {
  width: 845px;
  height: 527px;
  background: url("../images/v38_102.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  justify-content: center;
  top: 76px;
  left: 675px;
  overflow: hidden;
}
.fondoverdeoscuro {
  width: 869px;
  height: 527px;
  background: rgba(121,134,38,1);
  opacity: 1;
  position: absolute;
  top: 76px;
  left: 0px;
  overflow: hidden;
}
.videoscocina {
  width: 736px;
  color: rgba(240,237,197,1);
  position: absolute;
  top: 153px;
  left: 73px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 79px;
  opacity: 1;
  text-align: left;
}
.textovideococina {
  width: 658px;
  color: rgba(255,252,252,1);
  position: absolute;
  top: 363px;
  left: 73px;
  font-family: Inter;
  font-weight: Regular;

  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.imagen6 {
  width: 388px;
  height: 177px;
  background: url("../images/v38_106.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  justify-content: center;
  position: absolute;
  top: 2249px;
  left: 526px;
  overflow: hidden;
}
.textovegetariana {
  width: 762px;
  color: rgba(240,237,197,1);
  position: absolute;
  top: 1214px;
  left: 339px;
  font-family: Inter;
  font-weight: Regular;
  justify-content: center;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.textoomnivoro {
  width: 743px;
  color: rgba(240,237,197,1);
  position: absolute;
  top: 1987px;
  left: 349px;
  font-family: Inter;
  font-weight: Regular;
  justify-content: center;
  font-size: 24px;
  opacity: 1;
  text-align: left;
  
}
.imagen7{
  width: 860px;
  height: 500px;
  background: url("../images/v38_93.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 687px;
  left: 290px;
  overflow: hidden;
}
