
body {
  background-color:#F0EDC5;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
}

.inicio {
  width: 98px;
  color: rgba(121,134,38,1);
  position: absolute;
  top: 17px;
  left: 877px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  text-align: left;
}
.sobrenosotros {
  width: 212px;
  color: rgba(121,134,38,1);
  position: absolute;
  top: 17px;
  left: 1021px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  text-align: left;
  text-decoration: none;
}
.contacto {
  width: 149px;
  color: rgba(121,134,38,1);
  position: absolute;
  top: 17px;
  left: 1279px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  text-align: left;
}
.imagen1 {
  width: 263px;
  height: 120px;
  background: url("../images/v38_113.png");
  background-repeat: no-repeat;
  background-position: center ;
  background-size: cover;
  position: absolute;
  top: 10px;
  left: 16px;
  overflow: hidden;
}

.fondorojo {
  width: 886px;
  height: 857px;
  background: rgba(182,29,30,1);
  position: absolute;
  top: 76px;
  left: 634px;
  overflow: hidden;
}
.textotienda {
  width: 690px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 380px;
  left: 720px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  text-align: left;
}
.fondorosa {
  width: 1520px;
  height: 1350px;
  background: rgba(204,74,91,1);
  position: absolute;
  top: 721px;
  left: 0px;
  overflow: hidden;
}
.imagen2 {
  width: 388px;
  height: 177px;
  background: url("../images/v38_126.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  justify-content: center;
  top: 2110px;
  left: 526px;
  overflow: hidden;
}
.fondoblanco {
  width: 484px;
  height: 463px;
  background: rgba(255,255,255,1);
  position: absolute;
  top: 819px;
  left: 127px;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  overflow: hidden;
}
.rumboverde {
  width: 368px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1092px;
  left: 700px;
  font-family: Inter;
  font-weight: bold;
  font-size: 40px;
  text-align: left;
  text-decoration: underline;
  cursor: pointer;
}
.imagen3 {
  width: 392px;
  height: 261px;
  background: url("../images/v38_129.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 920px;
  left: 173px;
  overflow: hidden;
}
.fondoverde {
  width: 484px;
  height: 463px;
  background: rgba(148,195,71,1);
  position: absolute;
  top: 1495px;
  left: 119px;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  overflow: hidden;
}
.conejofeliz {
  width: 338px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1793px;
  left: 700px;
  text-decoration: underline;
  font-family: Inter;
  font-weight: bold;
  cursor: pointer;
  font-size: 40px;
  opacity: 1;
  text-align: left;
  text-decoration: underline;
}
.imagen4 {
  width: 300px;
  height: 280px;
  background: url("../images/v38_132.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  justify-content: center;
  top: 1594px;
  left: 213px;
  overflow: hidden;
}
.textorumbo {
  width: 617px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 962px;
  left: 706px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.textoconejo {
  width: 617px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1628px;
  left: 700px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.imagen5 {
  width: 634px;
  height: 645px;
  background: url("../images/v38_124.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 76px;
  left: 0px;
  overflow: hidden;
}
.tiendas {
  width: 561px;
  color: rgba(240,237,197,1);
  position: absolute;
  top: 218px;
  left: 720px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 79px;
  opacity: 1;
  text-align: left;
}
